
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;800;900&display=swap');

:root{
  --primary-color:#a35cf5;
  --heading-color:#132742;
  --bg-gradient:linear-gradient(
    90deg,
    rgb(150, 101, 240)27%,
    rgb(177, 152, 236) 85%

  );
     --font-family: 'Outfit', sans-serif;
  /* --font-name:'Questrial',sans-serif;  */
 
  /*#9758f2 
  #b5a9f3
  #d3cef2
  #d73337a*/
   
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
  font-family: var(--font-family);
}
html{
  scroll-behavior: smooth;
}

section{
  padding: 50px 0px;
}
a{
  text-decoration: none;
  color: unset;

}
a:hover{
  color: unset;
}
ul{
  list-style: none;
}
.container{
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}
.section_title{
  color: var(--heading-color);
  font-weight: 700;
}



/* @import url("https://fonts.googleapis.com/css?family=Questrial&display=swap") */





  
 
